body {
  padding: 20px;
}

.lunch-planner {
  margin-top: 10px;
}

.hide-recipes {
  opacity: .5;
}
.visible {
  opacity: 1;
}

.weekly-menu {
  display: flex;
  width: 100%;
  max-width: 100%;
  justify-content: center;
}

.weekly-menu .item {
  margin: 10px;

}
